# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/config.log
/config.status
/src/.deps/rmw-rmw.Po
/indent
.svn
.deps
temp
testing
tmp
stamp-h1
src/config.h
src/rmw
Makefile
slackpkg
.dirstamp
*.patch
Screenshot*
/README
*~
inputfiles
extract_strings.sh
/ABOUT-NLS

autom4te.cache
test/tmp-home
/rmw.geany
/po/Makevars.template
/po/Makefile.in
/po/POTFILES

# coverity
cov-int
rmw.tgz
