# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/config.log
/config.status
/src/.deps/rmw-rmw.Po
autom4te.cache
/indent
.svn
.deps
temp
testing
tmp
stamp-h1
src/config.h
src/rmw
Makefile
slackpkg
.dirstamp
*.patch
Screenshot*
README
m4
*~
