# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/config.log
/config.status
/src/.deps/rmw-rmw.Po
/indent
.svn
.deps
temp
testing
tmp
stamp-h1
src/config.h
src/rmw
Makefile
slackpkg
.dirstamp
*.patch
/README
*~
inputfiles
extract_strings.sh

autom4te.cache
test/tmp-home
/rmw.geany
/po/Makevars.template
/po/Makefile.in
/po/POTFILES

# coverity
cov-int
*.tgz
*.tar.gz

# temp install directory when ./configure --prefix=$PWD/temp_install
# is used
temp_install

build

# generic file that refers to the Translation Project, which is not used
# by the rmw project. We use transifex for translations.
ABOUT-NLS

# Doxygen
doxy-warn.log

# Used for external libraries that andy5995 is experimenting with
external/


