language: c
cache: ccache
matrix:
# gcc
  include:
    - os: linux
      dist: xenial
      compiler: gcc
      env: DISTCHECK_ONLY="true" COMPILER="default"
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env: MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env: MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

# Using xenial for more recent versions of gcc
    - os: linux
      dist: xenial
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env: MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

# clang
    - os: linux
      dist: trusty
      compiler: clang
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env: MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
# osx
    - os: osx
      osx_image: xcode9.2
      env: XCODE="true"
    - os: osx
      osx_image: xcode9.4
      env: XCODE="true"
    - os: osx
      osx_image: xcode10.1
      env: XCODE="true"

#  allow_failures:
#    - os: osx

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      eval "${MATRIX_EVAL}";
      sudo apt-get update -qq;
    else
      brew install ncurses &&
      export PKG_CONFIG_PATH="/usr/local/opt/ncurses/lib/pkgconfig";
    fi

script:
  - mkdir build && cd build
  - ../configure --prefix=$PWD/install-test
  - if [ -z "$DISTCHECK_ONLY" ]; then
      make        &&
      make check;
    else
      make install &&
      make uninstall &&
      make distcheck &&
      make distclean;
    fi

notifications:
  webhooks:
    irc:
      channels:
        - "chat.freenode.net#rmw"
      template:
        - "%{repository_slug}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
        - "Change view : %{compare_url}"
        - "Build details : %{build_url}"
    on_success: change  # always|never|change
    on_failure: always
    on_start: never
