language: c

matrix:
  include:
    - os: linux
      compiler: gcc
      env: Compiler_Version="default"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-5
      env: Tr_Compiler_Version="-5"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-6
      env: Tr_Compiler_Version="-6"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-7
      env: Tr_Compiler_Version="-7"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - gcc-8
      env: Tr_Compiler_Version="-8"
    - os: linux
      compiler: clang
      addons:
          apt:
            packages:
            - libncurses5-dev
      env: BUILD=linux_clang
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-6.0 main'
          packages:
          - clang-6.0
      env: Tr_Compiler_Version="-6.0"
    - os: osx
      osx_image: xcode9.3beta
      env: BUILD=osx_xcode9_3
    - os: osx
      osx_image: xcode9.2
      env: BUILD=osx_xcode9_2
  allow_failures:
  - os: osx

script:
  - export CXX=$CXX$Tr_Compiler_Version
  - export CC=$CC$Tr_Compiler_Version
  - ./configure --prefix=$PWD/temp-build
  - make
  - make install
  - cd test
  - ./basic.sh
  - rm -rf tmp-home
  - ./purging.sh
  - cd ..
  - make uninstall

notifications:
  slack: removetowaste:u16fiNsaMeLmg7J4WXifW3Zm
