# rmw example configuration file
# http://rmw.sf.net/

WASTE = $HOME/.ctrash
WASTE = /media/home_/andy/.ctrash
WASTE = /mnt/fs3/.ctrash
#
# Desktop Trash folders, for autoPurge
#
WASTE = ~/.local/share/Trash
WASTE=/media/home_/andy/.Trash-1000

# '0' to disable
purge_after = 90

# The current release doesn't "protect" files within the directories, or
# parent directories.
# The development version (and next release) protects files under
# protected directories (not fully tested)
PROTECT = /usr/local/bin
#PROTECT = $HOME/Documents
