# rmw example configuration file
# https://github.com/andy5995/rmw/wiki/
#
# This is only an example configuration file, and should not be copied and
# used. A default configuration file - rmwrc - should have been included
# with the rmw package.
#
# NOTE: If 2 WASTE folders are on the same file system, rmw will ReMove files
# to the first WASTE folder listed, ignoring the 2nd one. The only time it
# will use the 2nd folder is when purge is run.

WASTE = $HOME/.trash.rmw
WASTE = /media/home_/andy/.ctrash
WASTE = /mnt/fs3/.ctrash
#
# Desktop Trash folders, for autoPurge
#
WASTE = ~/.local/share/Trash
WASTE=/media/home_/andy/.Trash-1000

# '0' to disable
purge_after = 90

# The current release doesn't "protect" files within the directories, or
# parent directories.
# The development version (and next release) protects files under
# protected directories (not fully tested)
PROTECT = /usr/local/bin
#PROTECT = $HOME/src
