Source: rmw
Section: Utilities
Priority: optional
Maintainer: Andy Alt <andy400-dev@yahoo.com>
Build-Depends: libncursesw5
Standards-Version: 3.9.8
Homepage: https://remove-to-waste.info/

Package: rmw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Safe-remove utility for the command line
 rmw (ReMove to Waste) is a safe-remove utility for the command line.
 Its goal is to conform to the FreeDesktop.org Trash specification and
 therefore be compatible with KDE, GNOME, XFCE, and others. Desktop
 integration is optional however, and by default, rmw will only use a
 waste folder separated from your desktop trash.
