name: "Coverity Scan"

on:
  push:
    branches: coverity_scan
  pull_request:
    branches: master

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: false
    - name: Install Dependencies
      run: sudo -H python3 -m pip install meson ninja
    - run: meson setup builddir
    - uses: vapier/coverity-scan-action@v1
      with:
        # Project name in Coverity Scan.
        #
        # This should be as it appears on the Coverity Scan website.
        # Find it in your dashboard:
        # https://scan.coverity.com/dashboard
        #
        # For example, a GitHub project will look like "gentoo/pax-utils".
        #
        # Default: ${{ github.repository }}
        project: 'theimpossibleastronaut/rmw'

        # Secret project token for accessing this project in Coverity Scan.
        #
        # Find this in the project's "Project Settings" tab under "Project token" on
        # the Coverity Scan website.
        #
        # This value should not be specified in the yaml file directly.  Instead it
        # should be set in your repositories secrets.  "COVERITY_SCAN_TOKEN" is a
        # common name here.
        # https://docs.github.com/en/actions/security-guides/encrypted-secrets
        #
        # You still have to write ${{ secrets.COVERITY_SCAN_TOKEN }} explicitly as
        # GitHub Actions are not allowed to access secrets directly.
        #
        # REQUIRED.
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}

        # Where Coverity Scan should send notifications.
        #
        # The Coverity Scan tool requires this be set.
        #
        # If you don't want to write this in your config files, you can also use a
        # repository secret.  "COVERITY_SCAN_EMAIL" is a common name.  See the
        # previous "token" section for more information.
        #
        # REQUIRED.
        email: 'andy400-dev@yahoo.com'

        # Which Coverity Scan language pack to download.
        #
        # May be "cxx", "java", "csharp", "javascript", or "other".
        #
        # See the Coverity Scan download page for possible values:
        # https://scan.coverity.com/download
        # The tab strip along the top lists the languages.
        #
        # NB: 'cxx' is used for both C & C++ code.
        #
        # Default: 'cxx'
        build_language: 'cxx'

        # Which Coverity Scan platform pack to download.
        #
        # See the Coverity Scan download page for possible values:
        # https://scan.coverity.com/download
        # The tab strip along the right side lists the platforms.
        #
        # Default: 'linux64'
        build_platform: 'linux64'

        # Command to pass to cov-build.
        #
        # Default: 'make'
        command: 'ninja -C builddir'

        # (Informational) The source version being built.
        #
        # Default: ${{ github.sha }}
        # version: ''

        # (Informational) A description for this particular build.
        #
        # Default: coverity-scan-action ${{ github.repository }} / ${{ github.ref }}
        # description: ''
