name: Release
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - v**

jobs:
  dist:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Install dependencies
      run: sudo apt install -y meson ninja xz-utils
    - name:
      run: |
        meson setup builddir
        cd builddir
        meson dist
        cd meson-dist
        export VERSION="${GITHUB_REF_NAME##v}"
        REL_TAR="rmw-$VERSION.tar"
        xz -d $REL_TAR.xz
        tar --delete -f $REL_TAR rmw-$VERSION/packaging
        xz $REL_TAR
        sha256sum $REL_TAR.xz > $REL_TAR.xz.sha256sum
    - name: Release Dist Archive
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: false
        artifacts: ${{ github.workspace }}/builddir/meson-dist/*
        token: ${{ secrets.GITHUB_TOKEN }}
        omitNameDuringUpdate: True
        omitBodyDuringUpdate: True
        replacesArtifacts: false

  build-appimage:
    runs-on: ubuntu-20.04
    container: andy5995/rmw-build-env:bionic
    env:
      ARCH: x86_64
      WORKSPACE: ${{ github.workspace }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Prepare AppImage
      run: |
        export VERSION="${GITHUB_REF_NAME##v}"
        packaging/appimage/workflow.sh
    - name: Release AppImage
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: false
        artifacts: ${{ github.workspace }}/packaging/appimage/rmw*.AppImage*
        token: ${{ secrets.GITHUB_TOKEN }}
        omitNameDuringUpdate: True
        omitBodyDuringUpdate: True
        replacesArtifacts: false

  build-deb:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Copy debian directory
      run: cp -a packaging/debian .
    - uses: legoktm/gh-action-build-deb@debian-bullseye
      id: build-debian-bullseye
      with:
        args: --no-sign
        sources: deb http://deb.debian.org/debian bullseye-backports main
    - name: Create sha256sum
      run: |
        cd output
        VERSION="${GITHUB_REF_NAME##v}"
        sha256sum rmw_$VERSION_amd64.deb > rmw_$VERSION_amd64.deb.sha256sum
        chmod o+r rmw_$VERSION_amd64.deb.sha256sum
    - name: Release deb package
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: True
        artifacts: "output/*.deb*"
        token: ${{ secrets.GITHUB_TOKEN }}
        omitNameDuringUpdate: True
        omitBodyDuringUpdate: True
        replacesArtifacts: false
    #- name: remove artifacts
     # run: rm rmw*.AppImage*
