name: Release
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

on:
  pull_request:
    branches: master
  workflow_dispatch:
    inputs:
      version:
        description: 'version number'
        required: true
        type: string

env:
  VERSION: ${{ inputs.version }}

jobs:
  dist:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install dependencies
      run: |
        sudo apt install -y \
          meson \
          ninja-build \
          xz-utils
    - name:
      run: |
        meson setup builddir
        cd builddir
        meson dist --include-subprojects
        cd meson-dist
        REL_TAR="rmw-${VERSION}.tar"
        xz -d ${REL_TAR}.xz
        tar --delete -f ${REL_TAR} rmw-${VERSION}/packaging
        xz ${REL_TAR}
        sha256sum ${REL_TAR}.xz > ${REL_TAR}.xz.sha256sum
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rmw_dist_archive
        path: ${{ github.workspace }}/builddir/meson-dist/*

  build-appimage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ['amd64', 'arm64', 'arm/v7']
    env:
      VERSION: ${{ inputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - if: ${{ inputs.version }} == ''
        run: echo "VERSION=${{ github.sha }}" >> $GITHUB_ENV
      - name: Build AppImage
        uses: andy5995/linuxdeploy-build-helper@docs-update
        with:
          platform: ${{ matrix.platform }}
          source_root: ${{ env.ACTION_WORKSPACE }}
          pre_appimage_script: packaging/appimage/pre-appimage.sh
          linuxdeploy_output_version: $VERSION
          linuxdeploy_args: |
            -d packaging/rmw.desktop \
            --icon-file=packaging/rmw_icon_32x32.png \
            --icon-filename=rmw \
            --executable=$APPDIR/usr/bin/rmw \
            -o appimage

      - name: Create sha256sum
        run: |
          cd out
          sha256sum $IMAGE_FILENAME > $IMAGE_FILENAME.sha256sum

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.IMAGE_FILENAME }}
          path: ./out/*
          if-no-files-found: error

  build-deb:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
    - name: Copy debian directory
      run: cp -a packaging/debian .
    - uses: legoktm/gh-action-build-deb@debian-bullseye
      id: build-debian-bullseye
      with:
        args: --no-sign
        sources: deb http://deb.debian.org/debian bullseye-backports main
    - name: Create sha256sum
      run: |
        cd output
        sha256sum rmw_${VERSION}_amd64.deb > ../rmw_${VERSION}_amd64.deb.sha256sum
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rmw_debian_pkg
        path: |
          output/*.deb
          *deb.sha256sum
        if-no-files-found: error
